
.wrapper {
    border: 1px solid black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 10px 10px midnightblue;
}
.wrapper-title {
    text-align: center;
    margin: 100px 0px 50px 0;
}
.form-group {
    padding: 0px 20px;
}
.btn {
    margin: 20px 20px;
}

